@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('@solana/wallet-adapter-react-ui/styles.css');
@import url('react-toastify/dist/ReactToastify.css');
@import url('solana.css');
@import url('custom.css');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

html {
  background: radial-gradient(circle, #303030, #202020, #101010, #080808, #000000);
}
